.projects__categories {
  margin: 4rem 0 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.projects__categories li {
  padding: 0.6rem 1.5rem;
  border-radius: var(--border-radius-4);
  background-color: var(--color-gray-100);
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}

.projects__categories li:hover,
.projects__categories li.active {
  background-color: var(--color-primary);
  color: var(--color-gray-100);
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 3.5rem;
}

.project {
  padding: 1.4rem;
  border-radius: var(--border-radius-2);
  background-color: var(--color-gray-100);
  transition: var(--transition);
  /* mixitup animation */
  opacity: 0;
  animation: identifier 1.5s ease forwards;
}

.project:hover {
  box-shadow: -1rem 3rem 2rem rgba(0, 0, 0, 0.1);
}

.project__image {
  height: auto;
  max-height: 12rem;
  margin-bottom: 1.5rem;
  border-radius: var(--border-radius-4);
  overflow: hidden;
}

.project p {
  margin: 0.5rem 0 1.5rem;
}

.project__call-to-action {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

@keyframes identifier {
  to {
    opacity: 1;
  }
}
